<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/ionidea/Downloads/IMG_0021.PNG</key>
	<data>
	Ym9va6ACAAAAAAQQMAAAAGeu3GqBeTiXvSm1SmvZxAFu4A9TAs69S2Ib8k/ERwc0qAEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGlvbmlkZWEACQAAAAEBAABEb3dubG9hZHMA
	AAAMAAAAAQEAAElNR18wMDIxLlBORxAAAAABBgAABAAAABQAAAAkAAAAOAAAAAgAAAAE
	AwAA+Q0CAAAAAAAIAAAABAMAAG7BBQAAAAAACAAAAAQDAABxwQUAAAAAAAgAAAAEAwAA
	m+BhAAAAAAAQAAAAAQYAAGQAAAB0AAAAhAAAAJQAAAAIAAAAAAQAAEG3mA75AAAAGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMD
	AAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgiD06AAAACAAAAAAEAABB
	tbuZ8gAAACQAAAABAQAARUVGMjE5ODYtNDA2OS0zQUFCLTg3OTktNjBDMzIxRDJGNTBF
	GAAAAAECAACBAAAAAQAIAO8/AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAEwAAAAAAAAABRAAAKQA
	AAAAAAAAEBAAAMwAAAAAAAAAQBAAALwAAAAAAAAAAiAAAIgBAAAAAAAAECAAAAgBAAAA
	AAAAESAAADwBAAAAAAAAEiAAABwBAAAAAAAAEyAAACwBAAAAAAAAICAAAGgBAAAAAAAA
	MCAAAJQBAAAAAAAAAcAAAOwAAAAAAAAAEcAAABQAAAAAAAAAEsAAAPwAAAAAAAAAENAA
	AJwBAAAAAAAA
	</data>
	<key>/Volumes/Exchange/vadim.gulyakin/Mule/logo-apple.png</key>
	<data>
	Ym9va3wDAAAAAAQQMAAAAER+99zuKKG1G5CczWtxlI/9PmNtnXye40jzp3lXJ2/yqAIA
	AAcAAAABAQAAVm9sdW1lcwAIAAAAAQEAAEV4Y2hhbmdlDgAAAAEBAAB2YWRpbS5ndWx5
	YWtpbgAABAAAAAEBAABNdWxlDgAAAAEBAABsb2dvLWFwcGxlLnBuZwAAFAAAAAEGAAAE
	AAAAFAAAACQAAAA8AAAASAAAAAgAAAAEAwAA+C8AAAAAAAAAAAAAAQoAABQAAAABBgAA
	fAAAAIwAAACMAAAAjAAAAIwAAAAIAAAAAAQAAEG3p+QZAAAAGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAABgQ6uvAgAACAAAAAAEAABBt6J0PwAAABgA
	AAABAgAAAAAAAAAAAADvPwAAAQAIAAAAAAAAAAAAEQAAAAEBAAAvVm9sdW1lcy9FeGNo
	YW5nZQAAACoAAAABCQAAc21iOi8vZXVnZW5peS56aW5jaGVua29AMTAuMTAuMC4yL0V4
	Y2hhbmdlAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQA
	AEG1u5nyAAAAJAAAAAEBAABFRUYyMTk4Ni00MDY5LTNBQUItODc5OS02MEMzMjFEMkY1
	MEUYAAAAAQIAAIEAAAABAAgA7z8AAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAFQAAAD+
	////APAAAAAAAAAGAAAAAiAAAPABAAAAAAAAECAAAHABAAAAAAAAESAAAKQBAAAAAAAA
	EiAAAIQBAAAAAAAAEyAAAJQBAAAAAAAAICAAANABAAAAAAAABAAAAAMDAAAA8AAABAAA
	AAMDAAAAAAAABAAAAAMDAAABAAAAGAAAAAEGAABYAgAAZAIAAHACAABkAgAAZAIAAGQC
	AAAEAAAAAwMAAAAIACicAAAA/v///wEAAAD8AQAADAAAAAQQAABgAAAAAAAAAAUQAACU
	AAAAAAAAABAQAADAAAAAAAAAAEAQAACwAAAAAAAAAAAgAAB8AgAAAAAAAAIgAAAgAQAA
	AAAAABAgAAAUAAAAAAAAABIgAADgAAAAAAAAABMgAADwAAAAAAAAACAgAAAAAQAAAAAA
	AFAgAAA8AQAAAAAAABDQAACcAgAAAAAAAA==
	</data>
	<key>/Volumes/Exchange/vadim.gulyakin/Mule/requirements-apple.png</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAAIB2oM9kWc62faB7ngHuOZ35ETPDfXGqnT75RhiNuBCTsAIA
	AAcAAAABAQAAVm9sdW1lcwAIAAAAAQEAAEV4Y2hhbmdlDgAAAAEBAAB2YWRpbS5ndWx5
	YWtpbgAABAAAAAEBAABNdWxlFgAAAAEBAAByZXF1aXJlbWVudHMtYXBwbGUucG5nAAAU
	AAAAAQYAAAQAAAAUAAAAJAAAADwAAABIAAAACAAAAAQDAAD4LwAAAAAAAAAAAAABCgAA
	FAAAAAEGAACEAAAAlAAAAJQAAACUAAAAlAAAAAgAAAAABAAAQben4AcAAAAYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAGBDq68CAAAIAAAAAAQAAEG3
	onQ/AAAAGAAAAAECAAAAAAAAAAAAAO8/AAABAAgAAAAAAAAAAAARAAAAAQEAAC9Wb2x1
	bWVzL0V4Y2hhbmdlAAAAKgAAAAEJAABzbWI6Ly9ldWdlbml5LnppbmNoZW5rb0AxMC4x
	MC4wLjIvRXhjaGFuZ2UAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAIIg9OgAA
	AAgAAAAABAAAQbW7mfIAAAAkAAAAAQEAAEVFRjIxOTg2LTQwNjktM0FBQi04Nzk5LTYw
	QzMyMUQyRjUwRRgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAv
	AAAAVAAAAP7///8A8AAAAAAAAAYAAAACIAAA+AEAAAAAAAAQIAAAeAEAAAAAAAARIAAA
	rAEAAAAAAAASIAAAjAEAAAAAAAATIAAAnAEAAAAAAAAgIAAA2AEAAAAAAAAEAAAAAwMA
	AADwAAAEAAAAAwMAAAAAAAAEAAAAAwMAAAEAAAAYAAAAAQYAAGACAABsAgAAeAIAAGwC
	AABsAgAAbAIAAAQAAAADAwAAAAgAKJwAAAD+////AQAAAAQCAAAMAAAABBAAAGgAAAAA
	AAAABRAAAJwAAAAAAAAAEBAAAMgAAAAAAAAAQBAAALgAAAAAAAAAACAAAIQCAAAAAAAA
	AiAAACgBAAAAAAAAECAAABQAAAAAAAAAEiAAAOgAAAAAAAAAEyAAAPgAAAAAAAAAICAA
	AAgBAAAAAAAAUCAAAEQBAAAAAAAAENAAAKQCAAAAAAAA
	</data>
</dict>
</plist>
